:root {
/* VARIABLES */
    --blanco: #fff;
    --negro: #000;
    --verSpotify: #26b758;
    --grisSpotify: #232323;
    --roboto: "Roboto", sans-serif;

/* Colores importantes */
    --naranja: #f60;
    --pistacho: #9ed18d;
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;

/* TRAMPA 1REM=1PX */
font-size: 6.25%;
}
  


/* TABLET */
@media all and (min-width:480px) {
    
}

/* ESCRITORIO */
@media all and (min-width:1000px) {

}



